language: python

python:
  - "3.5"

install:
  - export BUILD_DIR=`pwd`
  - export GIT_TRACE=1
  - echo Install Git LFS
  - curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash
  - sudo apt-get install git-lfs
  - git lfs install
  - export lfs_version=$(git lfs version | grep -Eoi "\d+\.\d+\.\d+")
  - export PATH=`pwd`/git-lfs-${lfs_version}:$PATH
  - env | sort
  - echo Install Miniconda
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes true
  - conda update conda conda-env
  - echo Create elm-env
  - conda env update || conda env create
  - source activate elm-env
  - conda list
  - mkdir LADSWEB
  - export ELM_EXAMPLE_DATA_PATH=$(pwd)/elm-data
  - git clone http://github.com/ContinuumIO/elm-data || git checkout -f HEAD
  - cd $ELM_EXAMPLE_DATA_PATH && git remote add elm_data https://github.com/ContinuumIO/elm-data.git && git reset && git lfs pull elm_data && echo "git lfs pull ok"
  - cd $ELM_EXAMPLE_DATA_PATH && git log
  - cd $BUILD_DIR
  - ls -lRth $ELM_EXAMPLE_DATA_PATH
  - git lfs logs last
  - python setup.py develop

script:
  - cd $BUILD_DIR
  - LADSWEB_LOCAL_CACHE=LADSWEB DASK_SCHEDULER=SERIAL py.test -m 'not slow' -v
  - cat elapsed_time_test.txt
